.keyword {
    color: blue;
    font-weight: bolder;
}

.delimiter {
    color: lightGray;
}

.sexpr > * {
    padding-right: 5px;
}

.sexpr > *:last-child {
    padding-right: 0;
}

.indent {
    margin-left: 20px;
}
.indent.double {
    margin-left: 40px;
}
