.functionLabel {
  font-size: 2em;
  font-weight: bold;
}

.functionArguments .identifier {
  color: purple;
}

.functionSection .functionSectionContent {
  padding-left: 20px;
  margin: 10px 0;
}

.functionSection .functionSectionContent ul {
  margin: 0;
  padding-left: 20px;
}

.effect .typeVariable {
  color: orange;
}
