.functionCall {
  display: inline-block;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-radius: 10%;
  padding: 16px 8px;
  vertical-align: top;
}

.function {
  display: inline-block;
}

.argumentList {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
}

.argument {
  display: inline-block;
  margin-right: 4px;
}

.longList > .argument {
  display: block;
}
