
.typeFunction > * {
    padding-right: 5px;
}
.typeFunction > *:last-child {
    padding-right: 0;
}

.typeConstant {
    color: grey;
    font-weight: bolder;
}

.delimiter {
    color: lightGray;
}

.keyword {
    font-size: 0.8em;
    color: gray;
}
