.module {
  font-family: monospace;
}

.record ul {
  list-style-type: none;
  padding-left: 20px;
}

.identifier {
  color: blue;
}

.function {
  border: 1px solid lightGray;
  padding: 5px;
}

.functionLabel {
  font-size: 2em;
  font-weight: bold;
}

.functionArguments .identifier {
  color: purple;
}

.typeVariable {
  color: purple;
  font-weight: bold;
}

.effect .typeVariable {
  color: orange;
}

.functionSection .functionSectionContent {
  padding-left: 20px;
  margin: 10px 0;
}
.functionSection .functionSectionContent ul {
  margin: 0;
  padding-left: 20px;
}
